
/* Colour Changer Section */

.colourSection{
background-color: transparent;
}

.h2{
font-family: 'Poiret One', cursive !important;
font-size: 26px;
letter-spacing: -0.2px;
word-spacing: -0.2px;
color: #FFC100; 
font-variant: small-caps;
}



/* Colour Changer Icon */

.colourIcon{
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 30pt;
    color: #FF851B;
}



/* Colour Icon */

.colourSpace{
    margin: 10px;
}

.blackI{
background: #000000;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.whiteI{
background: #FFFFFF;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.redI{
background: #C70039;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.blueI{
background:#2377D0;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.yellowI{
background: #FFE018;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.orangeI{
background: #FF5733 ;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.greenI{
background: #24AD16;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

.purpleI{
background: #900C3F ;
height: 30px;
width: 30px;
display: flex;
border-radius: 30%;
}

